### Variables
Fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space.

1. Declaring And Assigning Variables

In [2]:
age=22
height=5.5
name="Hafsa"
is_student=True

## printing the variables
print("age :",age)
print("Height:",height)
print("Name:",name)

age : 22
Height: 5.5
Name: Hafsa

2. Naming Conventions

- Variable names should be descriptive
- They must start with a letter or an '_' and contains letter,numbers and underscores
- Variables names case sensitive

In [3]:
# valid variable names
first_name="Hafsa"
last_name="Maryam"

In [4]:
# Invalid variable names
2age=30
first-name="Hafsa"
@name="Hafsa"

SyntaxError: invalid decimal literal (3775253162.py, line 2)

In [5]:
## case sensitivity
name="Hafsa"
Name="Maryam"

3. Understanding Variable types

In [7]:
## Python is dynamically typed. Type of a variable is determined at runtime
age=22 
height=5.5 
name="Hafsa" 
is_student=True 

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

4. Type Checking and Conversion

In [9]:
type(height)

float

In [10]:
age=22
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
22
<class 'str'>

In [ ]:
age='22'
print(type(int(age)))

<class 'int'>

In [12]:
name="Hafsa"
int(name)

ValueError: invalid literal for int() with base 10: 'Hafsa'

In [13]:
height=5.11
type(height)

float

In [14]:
float(int(height))

5.0

5. Dynamic Typing

In [15]:
## Python allows the type of a variable to change as the program executes
var=10
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [17]:
age=int(input("What is the age"))
print(age,type(age))

22 <class 'int'>

In [18]:
## Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 5.0
Difference: -1.0
Product: 6.0
Quotient: 0.6666666666666666